{% extends 'core/base_productos.html' %}

{% block title %} Biberones |{% endblock  %}

<!--Para no tener problemas poner todo en una sola linea-->
{% block background %}{% load static %}{% static 'core/img/biberones.jpg' %}{% endblock  %}

{% block headers %}
    <h1>Biberones</h1>
{% endblock  %}

{% block content %}
	{% for biberon in biberones %}
	<div class="col-md-6">
		<button type="button" class="text-center btn " data-toggle="modal" data-target="#modal{{ biberon.id }}">
			<img alt="picture" src="{{ biberon.image.url }}" class="img-fluid">
		</button>

		<div class="modal fade" id="modal{{ biberon.id }}" tabindex="-1" role="dialog"  aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ biberon.title}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-justify">{{ biberon.description}}</p>
					<br>
					<p class="text-danger ">$ {{biberon.price}} MXN</p>
			</div>
			</div>
		</div>
		</div>
	</div>
	{% endfor %}
{% endblock  %}