{% extends 'core/base_productos.html' %}

{% block title %} Moños |{% endblock  %}

<!--Para no tener problemas poner todo en una sola linea-->
{% block background %}{% load static %}{% static 'core/img/moños.jpg' %}{% endblock  %}

{% block headers %}
    <h1>Moños</h1>
{% endblock  %}

{% block content %}

	{% for moño in moños %}
			<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-10 mx-auto">
							<div class="site-heading">
								<div class="border border-white">
									<p>
										<a class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
											<img class="img-fluid col-8" src="{{moño.image.url}}" width="100" height="100">
										</a>
									</p>
									<div class="col-lg-7 col-md-8 collapse" id="collapseExample">
										<div class="card card-body">
											<h2 class="section-heading title">{{moño.title}}</h2>   
											<p>{{moño.description}}</p>
											<p class="text-danger">$ {{moño.price}} MXN</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
	{% endfor %}
{% endblock  %}