<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %} Rinconcito del bb</title>    
    <!-- Elementos estaticos  -->
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="{% static 'core/css/clean-blog.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'core/css/css.css' %}">

</head>
<body>

    <!-- navbar menú principal y cabecera -->
  
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container nav">
        <a class="navbar-brand titulo" href="{% url 'home'%}">Rinconcito del bb</a>
        <button
          class="navbar-toggler navbar-toggler-right text-dark"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menú
          <ion-icon name="ios-menu"></ion-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'home'%}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'accesorios'%}">Accesorios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'maternidad'%}">Maternidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'ropa'%}">Ropa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'calzado'%}">Calzado</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>

    <!-- Nombre de tienda-->

    <header class="masthead" style="background-image: url('{% block background %}{%endblock%}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <div class="border border-white">
                {% block headers %}
                {% endblock  %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

  <!-- 4 Vistas de venta -->

<div class="container">
  <div class="row">
          {% block content %}
          {% endblock  %}
  </div>
</div>


    <!-- Redes sociales y copyright -->
    <footer>
      <div class="container ">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto ">
            <section class="redes-sociales">
              <div class="contenedor">
                <a class="facebook" href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a class="email" href="#"><ion-icon name="mail"></ion-icon></a>
                <a class="whatsapp" href="#"><ion-icon name="logo-whatsapp"></ion-icon></a>
              </div>
            </section>
            <p class="copyright text-muted text-center">
              Copyright &copy; 2020 · Ingenieros en Cyberseguridad y Desarrollo de Software
            </p>
          </div>
        </div>
      </div>
    </footer>



    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html